/* these are the main colors and header image
   replace them with anything you want! */
:root {
    --header-bg: url('images/header.png');
    --accent-color: #633aac;
    --link-color: #9f4fb1;
    --button-color: #E5BDF9;
    --bg-color: #FFF3E8;
    --bg-color2: #FFE8FA;
    --text-color: #372558;
    --favorite-color: #CAEC8A;
}
/* you can get hex codes from sites like this:
   https://palettes.shecodes.io/
   i just looked up "css color templates" to find that link! */

/* this applies to all the content */
* {
    color: var(--text-color);
/* change the font here, it's set up to all use the same one */
    font-family: monospace;
}
/* this is for when you select text on the page */
::selection {
    background: var(--accent-color);
    color: var(--bg-color);
}

body {
    background-color: var(--bg-color2);
    margin: 0;
}
/* i think having better line spacing helps text to be more readable, but you can remove it if you want */
p {line-height: 1.5em;}

header {
/* you can add the image url in :root (at the top) if you want */
    background: var(--header-bg);
    background-size: 100%;
    background-position: center;
/* change the minimum height if you want it to take up more/less space */
    max-width: 960px;
    min-height: 400px;
    margin: 0 auto;
    padding: 0 1em;
/* i have a default border-radius set, but i didn't want rounded corners on this element */
    border-radius: 1em;
    box-shadow: var(--button-color) 8px 8px 20px;
}

/* this is your site title displayed at the top of the page */
header h1 {
    padding: .5em;
    border-radius: .3em;
    max-width: 900px;
    font-size: 4em;
/* you can change the text-align to center or right if you want it placed differently */
    text-align: right;
    color: var(--bg-color);
    text-shadow: var(--accent-color) 4px 4px .5em;
}

nav {
    /*padding: 1em;*/
    margin-top: 2em;
    font-weight: bold;
}

nav > ul {
    max-width: 960px;
    margin: auto;
    line-height: 3rem;
/* this stuff makes it wrap around on mobile */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
/* this line takes away the dot in front of the list items */
    list-style-type: none;
/* list items have default padding but we don't need it for these */
    padding-left: 0;
/* and this spaces out the buttons so they're not touching */
    justify-content: space-evenly;
}
nav li {
    text-align: center;
}
nav li > a {
    background-color: var(--button-color);
    padding: .5em 3em;
    box-shadow: var(--bg-color2) 0 0 6px;
/* this takes away the link underline */
    text-decoration: none;
}
nav li > a:visited {
    color: var(--link-color);
}
nav li > a:hover {
    background-color: var(--favorite-color);
    box-shadow: var(--bg-color) 0 0 6px;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    border-radius: .5em;
    text-shadow: var(--bg-color) 1px 1px 2px;
    font-weight: bold;
    transition: color 400ms ease-out, background-color 400ms ease-out, box-shadow 400ms ease-out;
}
a:visited {
    color: var(--text-color);
}
a:hover {
    color: var(--link-color);
}

/* you can change this to anything you want :) */
ul { list-style-type: "❤︎ "; }

#sidebar {
    background: var(--bg-color);
    min-width: 220px;
    margin: 1em;
    padding: 1em;
    border: 2px dotted var(--link-color);
    box-shadow: var(--button-color) 8px 8px 20px;
    border-radius: 2em;
}

#avatar {
    margin: .5em auto;
/* image size is 160px so i made its container a little bigger to fit the borders */
    max-width: 164px;
    max-height: 164px;
    border-radius: 8em;
}
#avatar img {
    background: var(--bg-color2);
    border: 2px solid var(--button-color);
    max-width: 160px;
    border-radius: 8em;
}

#bio {
    margin: 2em 1em;
    background: var(--bg-color2);
    border: 1px solid var(--button-color);
    border-radius: 1em;
}
#bio p { margin: 1em; }

#content {
    display: flex;
    max-width: 960px;
    margin: auto;
}

main {
    background-color: var(--bg-color);
    padding: 1em 2em;
    margin: 1em;
    border: 2px dotted var(--link-color);
    box-shadow: var(--button-color) 8px 8px 20px;
    border-radius: 2em;
}

main > h1,
main > h2,
main > h3 {
    background-color: var(--favorite-color);
    border-radius: .4em;
    padding: .2em .5em;
}

/* a class for centering text and images */
.center { text-align: center; }
/* made this a class so i can change it to be centered on mobile */
.img-right { float: right; }

footer {
    text-align: center;
    font-size: small;
    margin: 1em auto;
    max-width: 960px;
}

/* these are the mobile styles! */
@media only screen and (max-width: 800px) {
    #content {
        flex-wrap: wrap;
    }
    #sidebar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    header {
        min-height: 160px;
        margin: 0 1em;
    }
    header > h1 { 
        font-size: 3em;
        margin: .4em;
    }
    #avatar {margin: 0 1em;}
    #bio {width: 50%;}
    main {margin: 0 1em;}
    #sidebar ul {   
        margin: 0 1em;
        display: flex;
        flex-wrap: wrap;
        line-height: 2em;
    }
    #sidebar li {
        padding-left: 0;
        margin: .3em 1em;
    }
    .img-right {
        float: none;
        text-align: center;
    }
    footer {
        margin: 1em;
    }
}